html {height:100%;}
body {margin:0;}
.bg {animation:slideX 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #FF0000 50%, #FFFFFF 50%);
    bottom:0;left:-50%;opacity:.6;position:fixed;right:-50%;top:0;z-index:-1;}
    .bg2 {animation-direction:alternate-reverse;animation-duration:4s;background-image: linear-gradient(60deg, #FFFFFF 50%, #FF0000 50%);opacity:.5;}
    .bg3 {animation:slideY 5s ease-in-out infinite alternate;background-image: linear-gradient(90deg, #FF0000 50%, #FFFFFF 50%);opacity:.4;}
    @keyframes slideX {0% {transform:translateX(-25%);}100% {transform:translateX(25%);}}
    @keyframes slideY {0% {transform:translateY(-25%);}100% {transform:translateY(25%);}}


h2 {color: white; text-align: center; margin-top: 20%; font-size: 50px;}

h1 {color: rgb(26, 17, 198); text-align: center; margin-top: 20%; font-size: 50px;}

.heart-button {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #ff4081;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}

.dark-pink-button {
    position: fixed;
    top: 20px;
    left: 80px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #E91E63;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}